# Variables de entorno — nunca subir a GitHub
.env

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.coverage

# Logs
*.log

# Entornos virtuales
.venv/
venv/

# VS Code
.vscode/

# Windows
Thumbs.db
desktop.ini